nav {
  background-color: #700370;
  /* background-color: #D8BFD8; */
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    display: none; 
  }

  .nav-links.open {
    display: flex; 
  }

  .menu-icon {
    display: block;
    color: white;
  }

  li {
    margin: 10px 0;
  }
}
